@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .text-heading-large {
        @apply text-heading-l;
    }

    .text-heading-medium {
        @apply text-heading-m;
    }

    .text-heading-xsmall {
        @apply text-heading-xs;
    }

    .text-site-logo {
        @apply text-site-logo-text uppercase;
    }

    @screen md {
        .text-heading-large {
            @apply text-desktop-heading-l;
        }

        .text-heading-medium {
            @apply text-desktop-heading-m;
        }

        .text-heading-xsmall {
            @apply text-desktop-heading-xs;
        }

    }
}

@layer components {
    .button-1 {
        @apply gap-20 inline-flex items-center rounded border border-green-100 px-[1.25rem] py-[0.9375rem] text-button text-green-100;

        &:after {
            content: url('/images/button-arrow-right.svg');
            @apply h-[0.625rem] w-[1.65625rem];
        }

        &:not([disabled]) {
            &:hover {
                @apply shadow-button-1 bg-green-100 text-white-100;

                &:after {
                    content: url('/images/button-arrow-right-hover.svg');
                }
            }
        }

        &:active {
            @apply shadow-none;
        }

        &:disabled {
            @apply text-disabled-button-1 border-disabled-button-1;

            &:after {
                content: url('/images/button-arrow-right-disabled.svg');
            }
        }
    }

    .button-2 a {
        @apply text-heading-m md:text-button-2;

        &:after {
            content: '';
            @apply block h-[1px] w-[0] bg-green-100;
            transition: width 0.4s ease-in;
        }

        &:hover:after, &:active:after {
            @apply w-full;
        }
    }

    .footer-link a {
        @apply text-green-100 text-copy md:text-button-2 block w-fit;

        &:after {
            content: '';
            @apply block h-[1px] w-[0] bg-green-100;
            transition: width 0.4s ease-in;
        }

        &:hover:after, &:active:after {
            @apply w-full;
        }
    }

    .framework-logo {
        &:not([disabled]) {
            &:hover, &:active {
                content: url('/images/framework-logo-hover.svg');
            }
        }

        &:disabled {
            content: url('/images/framework-logo-disabled.svg');
        }
    }
}

@layer utilities {
    .extend-right {
        @apply mr-0;
        @screen sm {
            margin-left: calc(50vw - 330px);
        }
        @screen md {
            margin-left: calc(50vw - 394px);
        }
        @screen lg {
            margin-left: calc(50vw - 522px);
        }
        @screen xl {
            margin-left: calc(50vw - 650px);
        }
        @screen 2xl {
            margin-left: calc(50vw - 776px);
        }
    }

    .grid-col-none {
        grid-column: none;
    }
}
